/* 重要颜色 */
$blue					:#4577dc;
$lightBlue				:#b1d3f6;
$red 					:#da5845;
$green					:#1fb57c;
$golden					:#c1ab79;
$orange					:#ff9536;
$black					:#333;
/* 一般颜色 */
$darkGray				:#666;
$gray					:#888f9b;
$lightGray				:#acb2c1;
/* 较弱颜色 */
$darkWeak				:#ededed;
$lightWeak				:#f3f3f3;


/* 边框颜色 */
$borDefault				:#e5e5e5;
$borDefaultRadius		:0.07rem;

/* 字体大小 */
$f22:						0.22rem;
$f24:						0.24rem;
$f26:						0.26rem;
$f28:						0.28rem;
$f30:						0.3rem;
$f32:						0.32rem;
$f34:						0.34rem;
$f36:						0.36rem;